[credential]
	helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager
	useHttpPath = true
[user]
	email = pat@hightouch.io
	name = Pat Xu
[push]
	default = simple
	autoSetupRemote = true
[core]
	autocrlf = false
	excludesfile = /Users/patxu/.gitignore_global
	pager = delta
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[alias]
	co = checkout
	b = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/master}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/master}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind|branch|lastcommit|message|author\n\" && cat) | column -ts'|';}; r"
	graph = log --graph --all --format='%h %s%n        (%an, %ar)%d' --abbrev-commit
[pretty]
  git-log-format = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %C(bold blue)%an)%Creset 
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
