[credential]
	helper = cache --timeout=7200
[user]
	email = patrickxu13@gmail.com
	name = patxu
[push]
	default = simple
[core]
	autocrlf = false
	excludesfile = /Users/patxu/.gitignore_global
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[alias]
	co = checkout
	b = branch
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
