[credential]
	helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager
[user]
	email = patrickxu13@gmail.com
	name = patxu
[push]
	default = simple
[core]
	autocrlf = false
	excludesfile = /Users/patxu/.gitignore_global
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[alias]
	co = checkout
	b = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
